$bgColor: rgb(204, 200, 200);

body {
  background: $bgColor;



#method_select
{
  margin: auto;
  width: 50%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
 
}
#url_input {
text-align:center;
input{
  width: 20%;
}
}

#output_field{
margin: auto;
  background-color: white;
  width: 60%;
  height: 500px;
}
}