#history_feild {
  margin: 10px;
  width: 40%;
  height: 500px;
}
button {
  padding: 10px;
  margin: 5px;
  border: none;
  text-align: center;
}
.GET {
  background-color: blue;
}
.POST {
  background-color: green;
}
.DELETE {
  background-color: red;
}
.PUT {
  background-color: orange;
}
.details {
  border: none;
  text-align: center;
  text-decoration: none;
}
