#history_field {
  margin: 10px;
  width: 50%;
  height: 500px;
}
.button  {
  padding: 10px;
  width: 5rem;
  margin: 5px;
  border: none;
  text-align: center;
}
.history_buttons {
  display: flex;
  justify-content: space-around;
}
a{
  width: 5rem;
  text-align: center;
}
.GET {
  background-color: rgb(141, 141, 248);
  padding: 10px;
}
.POST {
  background-color: rgb(140, 248, 140);
  padding: 10px;
}
.DELETE {
  background-color: rgb(243, 142, 142);
  padding: 10px;
}
.PUT {
  background-color: rgb(247, 206, 129);
  padding: 10px;
}

.details {
  border: none;
  text-align: center;
  text-decoration: none;
}

@media (max-width: 800px) {
  .history_buttons {
    width: 100%;
  }
}
