#history_feild {
  margin: 10px;
  width: 40%;
  height: 500px;
}
button {
  padding: 10px;
  margin: 5px;
  border: none;
  text-align: center;
}
.GET {
  background-color: rgb(141, 141, 248);
  padding: 10px;
}
.POST {
  background-color: rgb(140, 248, 140);
  padding: 10px;
}
.DELETE {
  background-color: rgb(243, 142, 142);
  padding: 10px;
}
.PUT {
  background-color: rgb(247, 206, 129);
  padding: 10px;
}
.details {
  border: none;
  text-align: center;
  text-decoration: none;
}
