/* Responsive layout - makes a one column layout instead of a two-column layout */
body { 
  background-color: grey;
  display: flex;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
}

.container {
  h2{
    text-align: center;
  }
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: auto;
  margin-top: 4rem;
}

button {
  cursor: pointer;
}
@media (max-width: 800px) {

  .container{
    flex-direction: column;
    align-items: center;
  }
}
